*{
    padding: 0;
    margin: 0;
}
.Parent{
    display: flex;
    justify-content: space-around;
    background-color: #6c97c2;
    color: #F5F7FA;
    height: 7vh;
    align-items: center;
}
.child1{
    font-size: 2.3rem;
    color: #123251;
    text-shadow: 2px 2px 5px white;
}

.child2{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
}
.child2 li a{
    text-decoration: none;
    color: #123251;
}
.child2 li a:hover{
   color: white;
   background-color: #123251;
   padding: 12px 7px;
   border-radius: 10px;
}
.child3{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 15%;
    font-size: 2rem;
}
.insta{
    background-color: #F5F7FA;
    color: rgba(231, 38, 115, 0.8);
    border-radius: 8px;
}
.fb{
    background-color: #F5F7FA;
    color: rgba(23, 68, 230, 0.956);
    border-radius: 8px;
}
.lkn{
    background-color: #F5F7FA;
    color: rgb(6, 72, 240);
    border-radius: 8px;
}
.icon{
    font-size: 2rem;
    color: #123251;
    display: none;
}

.main{
    padding-top: 50px;
    background-color: #dae2ea;
}
.submain{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 50px;
}
.images, img{
   height: 500px;
   width: 450px;
   border: 1px solid #123251;
   border-radius: 50%;
}
.para{
    font-size: 1.5rem;
}
.heading{
   border-bottom: 2px solid #123251;
   display: inline-block;
   padding-bottom: 2px;
   margin-bottom: 20px;
    
}


@media (max-width: 1050px) {

    .child2{
        display: none;
    }
     .child3{
        display: none;
    }
    .icon{
        display: block;
    }
    .images, img{
        height: 420px;
        width: 370px;
    }
    
}
